<html>
<head>
  {{>head}}

  <style>

</style>
 </head>
 <body>

<nav class="navbar navbar-expand-sm fixed-top bg-light">
<a class="navbar-brand text-dark" href="#"> &nbsp; University Cutt off &nbsp; </a>
 <div class="vl"></div> &nbsp; &nbsp; &nbsp;
 <ul class="navbar-nav"> 
   <li class="nav-item">
   <a class="nav-link text-dark bg-success" href="../home"> Home </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../detail"> Details </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../regst"> Registered Students </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../eligible"> Eligible Students </a> 
   </li>
 
 </ul>

 </nav>
<br> <br> <br>

    <center> {{>header}}</center>
 
 <div class="container">
   <p><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.rd.com%2Fwp-content%2Fuploads%2F2018%2F12%2Fimportant-documents.jpg&f=1&nofb=1" height="350px" width="800px"</p>
  <h3>Details about Documentation</h3>
    <p><ul>
      <li>Required to submit hard copy of any Citizenship proof.</li>
      <li>Required to submit Income Proof.</li>
      <li>Birth Certification.</li>
      <li>X and XII Marks sheet.</li>
      <li>Student and his/her Guardian Identity proof</li>
    </ul></p>
    <div>
      <p>After that if the total percentage of X and XII marks are above from the cutt off of the university then you can sit in exams.</p>
      <h5>Registered students shown on next page.</h5>
    </div>
  </div>




       <center> {{>footer}} </center>

    </body>
</html>
