<html>
<head>
  {{>head}}

 <title> Home Page </title>
 <style>
.abc{
  margin-left: 80px;
}
</style>
 </head>
 <body>

<nav class="navbar navbar-expand-sm fixed-top bg-light">
<a class="navbar-brand text-dark" href="#"> &nbsp; University Cutt off &nbsp; </a>
 <div class="vl"></div> &nbsp; &nbsp; &nbsp;
 <ul class="navbar-nav"> 
   <li class="nav-item">
   <a class="nav-link text-dark bg-success" href="../home"> Home </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../detail"> Details </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../regst"> Registered Students </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../eligible"> Eligible Students </a> 
   </li>
 
 </ul>

 </nav>
 <br>
<div class="container"> <br> <br> 
  <center> {{>header}} </center>
 <br><br>
 <h3> Welcome to ABC University Cutt off Management System </h3> <br>
 
 <h4>WELCOME STUDENTS</h4><br>
 <p> This is the online platform for the students who want to get admmission in this university.The purpose of this website is to tell the required documentation to get the admission also it will reflect the register students so can verify that you are registered or not. </p>
<br>
 <p>The main purpose is that you can register online from our another platform and you will receive the details from this website.First you have to upload your required documents after that your percentage will count and then finally you can sit in university exam. </p>
 </div>  
<div class="abc">
   <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstudy.com%2Fcimages%2Fmultimages%2F16%2Fstudy-1968077_1280.jpg&f=1&nofb=1" height=100% width=auto>
</div>
<div> 
</div>
<hr> <br>

 {{>footer}} <br>

</div>
</body>
</html>