<html>
<head>
  {{>head}}

  <style>

 }
</style>
 </head>
 <body>

<nav class="navbar navbar-expand-sm fixed-top bg-light">
<a class="navbar-brand text-dark" href="#"> &nbsp; University Cutt off &nbsp; </a>
 <div class="vl"></div> &nbsp; &nbsp; &nbsp;
 <ul class="navbar-nav"> 
   <li class="nav-item">
   <a class="nav-link text-dark bg-success" href="../home"> Home </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../detail"> Details </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../regst"> Registered Students </a> 
   </li>
   <li class="nav-item">
    <a class="nav-link text-dark" href="../eligible"> Eligible Students </a> 
   </li>
 
 </ul>

 </nav> <br> 


<div class="container"> 
 <div class="row">
  <div class="col-sm"><br> <br> 
    {{>header}} <br>
    <p>Through this students can check and verify their details before the exam.If any students have any query they can contact.</p>
<h3>Registered Students</h3>
    <table class="table table-bordered table-hover table-striped">
     <tr class="bg-success text-dark">
      <th> Roll no. </th>
      <th> Name </th>
      <th> X Percentage </th>
      <th> XII Percentage </th>
      <th> Course </th>
      <th> Father Name </th>
      <th> Mother Name </th>
    </tr>
    <tr>
      <td> 01 </td>
      <td> abcd </td>
      <td> 60 </td>
      <td> 70 </td>
      <td> btech </td>
      <td> mr.aaa </td>
      <td> mrs.aaaa</td>
    </tr>

    <tr>
      <td> 02 </td>
      <td> abbbb </td>
      <td> 80</td>
      <td> 70 </td>
      <td> bca </td>
      <td> mr.bbb </td>
      <td> mrs.bbbb </td>
    </tr>

    <tr>
      <td> 03 </td>
      <td> cccc </td>
      <td> 80 </td>
      <td> 78 </td>
      <td> bca </td>
      <td> mr.ccc </td>
      <td> mrs.cccc </td>
    </tr>


    <tr>
      <td> 04 </td>
      <td> dddd </td>
      <td> 65 </td>
      <td> 76 </td>
      <td> bcom </td>
      <td> mr.ddddd </td>
      <td> mrs.ddddd </td>
    </tr>

     <tr>
      <td> 05 </td>
      <td> eeeee </td>
      <td> 78 </td>
      <td> 76 </td>
      <td> bba </td>
      <td> mr.eee </td>
      <td> mrs.eeeee</td>
    </tr>
    <tr>
      <td> 06 </td>
      <td> fff </td>
      <td> 55 </td>
      <td> 58 </td>
      <td> bba </td>
      <td> mr.ff </td>
      <td> mrs.fff</td>
    </tr>
    <tr>
      <td> 07 </td>
      <td> ggg </td>
      <td> 45 </td>
      <td> 63 </td>
      <td> bba </td>
      <td> mr.ggg </td>
      <td> mrs.gggg</td>
    </tr>
    <tr>
      <td> 08 </td>
      <td> hhhh </td>
      <td> 65 </td>
      <td> 58 </td>
      <td> btech </td>
      <td> mr.hh </td>
      <td> mrs.hhh </td>
    </tr>
    <tr>
      <td> 09 </td>
      <td> iii </td>
      <td> 59 </td>
      <td> 64 </td>
      <td> bba </td>
      <td> mr.ii </td>
      <td> mrs.iii </td>
    </tr>
    </table>
</div>
</div></div>
  <br>
{{>footer}}<br><br>
</body>
</html>